{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- main -->
<div class="page-container scene-main scene-main--fade_In">
    <!-- Slider -->
    <div id="default-carousel" class="owl-carousel default-owl-carousel light-nav-dots">

        <div class="owl-carousel-item">
            <div class="owl-carousel-item-content">
                <div class="fluid-container">
                    <div class="row align-items-center text-center all-text-content-white">
                        <div class="col-md-8 offset-md-2">
                            <h1 class="h1-large font-weight-bold mb-md-20px">Great Gesign Drives Sales</h1>
                            <p class="lead mb_30 d-none d-md-block mb-35px px-lg-200px">Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
                                dapibus.</p>
                            <a class="btn btn-dark rounded-0 d-none d-md-inline" href="home-2.html#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <img src="{% static 'images/02.jpg' %}" alt="Picture">
            </div>
        </div>
        <div class="owl-carousel-item">
            <div class="owl-carousel-item-content">
                <div class="fluid-container">
                    <div class="row align-items-center text-center all-text-content-white">
                        <div class="col-md-8 offset-md-2">
                            <h1 class="h1-large font-weight-bold mb-md-20px">Great Gesign Drives Sales</h1>
                            <p class="lead mb_30 d-none d-md-block mb-35px px-lg-200px">Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
                                dapibus.</p>
                            <a class="btn btn-dark rounded-0 d-none d-md-inline" href="home-2.html#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <img src="{% static 'images/006.jpg' %}" alt="Picture">
            </div>
        </div>
        <div class="owl-carousel-item">
            <div class="owl-carousel-item-content">
                <div class="fluid-container">
                    <div class="row align-items-center text-center all-text-content-white">
                        <div class="col-md-8 offset-md-2">
                            <h1 class="h1-large font-weight-bold mb-md-20px">Great Gesign Drives Sales</h1>
                            <p class="lead mb_30 d-none d-md-block mb-35px px-lg-200px">Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
                                dapibus.</p>
                            <a class="btn btn-dark rounded-0 d-none d-md-inline" href="home-2.html#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <img src="{% static 'images/005.jpg' %}" alt="Picture">
            </div>
        </div>
    </div>
    <!-- About us  -->
    <div class="bg-img-1 pt-70px pb-30px">
        <div class="container">
            <div class="row align-items-center mb-35px">
                <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center">
                    <h4 class="mb-20px">About Umda</h4>
                    <p class="lead">Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
                        tellus ac cursus commodo, tortor mauris condimentum nibh, Cras purus sit amet fermentum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-30px">
                    <img class="mb-25px" src="{% static 'images/21.jpg' %}" alt="image">
                    <h5 class="mb-10px">How it Begins</h5>
                    <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam repudiare
                        evertitur.</p>
                </div>
                <div class="col-md-4 mb-30px">
                    <img class="mb-25px" src="{% static 'images/22.jpg' %}" alt="image">
                    <h5 class="mb-10px">Behind the Scenes</h5>
                    <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam repudiare
                        evertitur.</p>
                </div>
                <div class="col-md-4 mb-30px">
                    <img class="mb-25px" src="{% static 'images/23.jpg' %}" alt="image">
                    <h5 class="mb-10px">How it's Done</h5>
                    <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam repudiare
                        evertitur.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Details  -->
    <div class="bg-color-creamy pt-80px pb-30px">
        <div class="container">
            <div class="row small-gutters align-items-center mb-20px">
                <div class="col-lg-4">

                    <div class="content_box text-lg-right">
                        <div class="content_icon">
                            <i class="fas fa-rocket" aria-hidden="true"></i>
                        </div>
                        <div class="content_info">
                            <h5>Fast Loading</h5>
                            <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                                complectitur mei et. Id invidunt adipiscing has. </p>
                        </div>
                    </div>

                    <div class="content_box text-lg-right">
                        <div class="content_icon">
                            <i class="fas fa-paint-brush" aria-hidden="true"></i>
                        </div>
                        <div class="content_info">
                            <h5>Easy to Use</h5>
                            <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                                complectitur mei et. Id invidunt adipiscing has.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pb-30px">
                    <img class="px-30px" src="{% static 'images/24.png' %}" alt="bag">
                </div>
                <div class="col-lg-4">
                    <div class="content_box text-lg-left mb-30px">
                        <div class="content_icon">
                            <i class="far fa-paper-plane" aria-hidden="true"></i>
                        </div>
                        <div class="content_info">
                            <h5>Merkstrategie</h5>
                            <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                                complectitur mei et. Id invidunt adipiscing has. </p>
                        </div>
                    </div>
                    <div class="content_box text-lg-left mb-30px">
                        <div class="content_icon">
                            <i class="fas fa-video" aria-hidden="true"></i>
                        </div>
                        <div class="content_info">
                            <h5>Film & Animatie</h5>
                            <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                                complectitur mei et. Id invidunt adipiscing has.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Work  -->
    <div class="bg-img-7 pt-70px pb-5px">
        <div class="container">
            <div class="row align-items-center mb-30px">
                <div class="col-md-8 offset-md-2 text-center">
                    <h4>Recent Work</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="items_filter text-center">
                        <li>
                            <span data-filter="*" class="filter_active">Show All</span>
                        </li>
                        <li>
                            <span data-filter=".branding">Branding</span>
                        </li>
                        <li>
                            <span data-filter=".illustration">Illustration</span>
                        </li>
                        <li>
                            <span data-filter=".photography">Photography</span>
                        </li>
                        <li>
                            <span data-filter=".interior">Interior</span>
                        </li>
                    </ul>
                    <div class="row et-items masonry_layout mb-20px">
                        <article class="col-sm-6 col-md-6 col-lg-4 et-item illustration">
                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w1.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>

                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">Amura Catalogue</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>
                        </article>
                        <article class="col-sm-6 col-md-6 col-lg-4 et-item illustration">
                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w2.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>
                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">Catalogue 2016</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>
                        </article>
                        <article class="col-sm-6 col-md-6 col-lg-4 et-item interior photography">

                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w3.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>
                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">Catalogue 2017</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>

                        </article>

                        <article class="col-sm-6 col-md-6 col-lg-4 et-item interior illustration">
                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w4.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>
                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">Amura Sofa</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>
                        </article>

                        <article class="col-sm-6 col-md-6 col-lg-4 et-item interior branding">
                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w7.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>
                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">ZANI Catalogue 2017</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>
                        </article>
                        <article class="col-sm-6 col-md-6 col-lg-4 et-item interior branding">
                            <div class="et-banner">
                                <figure class="effect-default">
                                    <img src="{% static 'images/w6.jpg' %}" alt="Sofa Picture" width="855" height="671" />
                                    <figcaption>
                                        <a class="banner-link-cover" href="home-2.html#">View More</a>
                                    </figcaption>
                                </figure>
                                <h5 class="banner-title mt-20px">ZANI Sofa 2017</h5>
                                <p class="banner-desc">Photography & Art direction</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counters  -->
    <div class="bg-color-blackflame py-100px  all-text-content-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="counter_box">
                        <div class="counter_box_number">
                            <span class="timer" data-from="0" data-to="1969" data-speed="5000" data-refresh-interval="50"></span>
                        </div>
                        <div class="counter_box_title">
                            <h5>Happy Clients</h5>
                        </div>
                        <div class="separate-line bg-color-white mt-25px mb-20px"></div>
                        <div class="counter_box_desc">
                            Oratio pertinax cu vix, id aliquam habemus tractatos. Eu vis modo officiis liberavisse, an persequeris complectitur mei et.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter_box">
                        <div class="counter_box_number">
                            <span class="timer" data-from="0" data-to="2308" data-speed="5000" data-refresh-interval="50"></span>
                        </div>
                        <div class="counter_box_title">
                            <h5>Projects Finished</h5>
                        </div>
                        <div class="separate-line bg-color-white mt-25px mb-20px"></div>
                        <div class="counter_box_desc">
                            Oratio pertinax cu vix, id aliquam habemus tractatos. Eu vis modo officiis liberavisse, an persequeris complectitur mei et.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter_box">
                        <div class="counter_box_number">
                            <span class="timer" data-from="0" data-to="3548" data-speed="5000" data-refresh-interval="50"></span>
                        </div>
                        <div class="counter_box_title">
                            <h5>Coups of Coffee</h5>
                        </div>
                        <div class="separate-line bg-color-white mt-25px mb-20px"></div>
                        <div class="counter_box_desc">
                            Oratio pertinax cu vix, id aliquam habemus tractatos. Eu vis modo officiis liberavisse, an persequeris complectitur mei et.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter_box">
                        <div class="counter_box_number">
                            <span class="timer" data-from="0" data-to="9048" data-speed="5000" data-refresh-interval="50"></span>
                        </div>
                        <div class="counter_box_title">
                            <h5>Working Hours</h5>
                        </div>
                        <div class="separate-line bg-color-white mt-25px mb-20px"></div>
                        <div class="counter_box_desc">
                            Oratio pertinax cu vix, id aliquam habemus tractatos. Eu vis modo officiis liberavisse, an persequeris complectitur mei et.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery and Details  -->
    <div class="bg-img-4 pt-100px pb-50px">
        <div class="container">
            <div class="row mb-20px">
                <div class="col-lg-6 pb-20px">
                    <div class="row small-gutters">
                        <div class="col-md-6 pb-10px">
                            <img src="{% static 'images/08.jpg' %}" alt="image">
                        </div>
                        <div class="col-md-6">
                            <img class="mb-10px" src="{% static 'images/09.jpg' %}" alt="image">
                            <img src="{% static 'images/10.jpg' %}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0px">
                                    <a data-toggle="collapse" data-parent="#accordion" href="home-2.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item 1
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                    dolor in
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0px">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="home-2.html#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Collapsible Group Item 2
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                    dolor in
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree2">
                                <h5 class="mb-0px">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="home-2.html#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Collapsible Group Item 3
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree2">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                    dolor in
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Subscribe To The Newsletter  -->
    <div class="bg-color-creamy pt-80px pb-55px">
        <div class="container">
            <div class="row small-gutters align-items-center mb-20px">
                <div class="col-lg-5">
                    <h4 class="mb-15px">Subscribe To The Newsletter</h4>
                    <p>Lorem ipsum quis bibendum auct or de suis erestopius proin qual de suis erestopius liqueenean sollicituin.
                        Oratio pertinax, id his aliquam habemus tractatos. </p>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="form-group form-row  mb-0">
                        <div class="col-sm-8 col-xs-12  mb-30px">
                            <input type="email" name="email" class="form-control form-solid-border validate-required validate-email" placeholder="Your email">
                        </div>
                        <div class="col-sm-4 col-xs-12  mb-30px">
                            <button type="submit" class="btn btn-outline-dark rounded-0">Subscribe</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- The Journal  -->
    <div class="bg-img-5 pt-85px pb-70px">
        <div class="container">
            <div class="row mb-20px">
                <div class="col-md-10 col-lg-6">
                    <h4 class="mb-10px">The Journal</h4>
                    <p>Oratio pertinax cu vix, id his aliquam habemus tractatos. Eu vis modo officiis liberavisse, persequeris
                        complectitur mei et. Id invidunt adipiscing tractatos has. Eius lorem tincidunt vix at pertinax sensibus
                        id.</p>
                </div>
            </div>
            <div class="row blog_posts">
                <div class="col-md-6 col-lg-4">
                    <article>
                        <div class="post_img">
                            <img src="{% static 'images/18.jpg' %}" alt="Card image cap">
                        </div>
                        <h5 class="post_title">
                            <a href="blog-single-post.html">All the world's waiting for you</a>
                        </h5>
                        <div class="post_meta_top">
                            <span class="post_meta_category">
                                <a href="blog-single-post.html">Photography</a>
                            </span>
                            <span class="post_meta_date">Nov 17, 2020</span>
                        </div>
                        <div class="post_content">
                            <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam
                                repudiare evertitur.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article>
                        <div class="post_img">
                            <img src="{% static 'images/19.jpg' %}" alt="Card image cap">
                        </div>
                        <h5 class="post_title">
                            <a href="blog-single-post.html">Make Better Your Next Trip</a>
                        </h5>
                        <div class="post_meta_top">
                            <span class="post_meta_category">
                                <a href="blog-single-post.html">Travel</a>
                            </span>
                            <span class="post_meta_date">Nov 15, 2020</span>
                        </div>
                        <div class="post_content">
                            <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam
                                repudiare evertitur.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article>
                        <div class="post_img">
                            <img src="{% static 'images/20.jpg' %}" alt="Card image cap">
                        </div>
                        <h5 class="post_title">
                            <a href="blog-single-post.html">Wish You Were Here</a>
                        </h5>
                        <div class="post_meta_top">
                            <span class="post_meta_category">
                                <a href="blog-single-post.html">Photography</a>
                            </span>
                            <span class="post_meta_date">Nov 12, 2020</span>
                        </div>
                        <div class="post_content">
                            <p>Lorem ipsum dolor sit amet, nam saepe tibique no, Efficiantur consequuntur et nec. Cum ei omittam
                                repudiare evertitur.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}